# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
key.properties

# Firebase config (berisi API key)
app/google-services.json

# Artifacts / tooling
.artifacts/
