# Built files
/build

# Local config (WAJIB disembunyikan)
local.properties
google-services.json
*.keystore
*.jks

# IDE
.idea/
*.iml
.gradle/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db